body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

img {
    display: block;
    width: 100%;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar-track
{
	background-color: #EBEBEB;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #767676;
} 

/* ====================
    Typography
==================== */

h1, h2, h3, h4, h5, h6, a, p {
    margin: 0;
}

h1 {
    font-weight: 900;
}

h2 {
    font-weight: 700;
}

h3 {
    font-weight: 600;
}

a {
    text-decoration: none;
    color: #000;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none; 
}

input,
textarea {
    display: block;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
}

button {
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    background: transparent;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 700;
}

.normal{
    font-weight: 500;
}
.semi-bold {
    font-weight: 600;
}
.bold {
    font-weight: 700;
}
.black {
    font-weight: 900;
}

.errors {
    font-size: 1.2rem;
    padding-bottom: 1em;
    color: #FA3333;
    text-align: center;
} 

/* ====================
    Layout
==================== */

.container {
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    user-select: none;
    cursor: pointer;
}

.bg-white {
    background: #fff;
}

/*Page loader*/

.page-loader {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #F5F5F5;
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transition: all 1s ease;
  }
  .hide {
    opacity: 0;
    visibility: hidden;
  }
  .loader {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation-iteration-count: infinite;
  }
  .loader img {
    width: 65px;
    animation-duration: 2.5s;
    animation-name: loader;
    animation-iteration-count: infinite;
  }
  .loader-subtitle {
    font-size: 1.5rem;
    margin-top: .5em;
  }

  @keyframes loader {
    from {
      transform: scale(1);
    }
    50% {
      transform: scale(.8);
    }
    to {
      transform: scale(1);
    }
  }